.box{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
}

.box:hover{
    cursor: pointer;
}

#one{
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

#one:hover{
    width: 300px;
}

#two{
    background-color: blue;
    transition: all 2s ease-in-out;
}

#two:hover{
    height: 300px;
}

#three{
    background-color: green;
    transition: all 2s ease-in;
}

#three:hover{
    width: 300px;
    height: 300px;
}